.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: #f11c1c6e;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 50px;
}

.toggle {
  background: #f11c1c;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 28px;
}

.dark-mode {
  color: white;
  background-color: black;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.player-card {
  background-color: lightgrey;
  border: 1px solid #443e3e;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  width: 205px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.player-name {
  color: black;
  font-weight: bold;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}
